@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.footer{
    background-color: black;
    color: burlywood;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#copy {
    height: 100%;
}

small {
    font-weight: bolder;
}